<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card border-0 text-center">
        <img src="../../assets/img/genie.png" class="card-img-top" alt="genie.png">
        <div class="card-body">
          <h5 class="card-title">Jeanni the Genie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0">
        <img src="../../assets/img/speech-bubble.png" class="card-img" alt="speech-bubble.png">
        <div class="card-img-overlay">
          <div class="speech">
            <h5 class="card-title">Hi! I'm Jeanni, the Movie Genie!</h5>
            <p class="card-text">With my infinite movie knowledge, I'll recommend a movie to you (just one at a time, though!) based on machine analysis of your twitter feed.
            <br><br>Be warned, I'm currently under construction!</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div style="padding-left: 4em">
          <a routerLink="/reg">
            <button type="button" class="btn btn-primary" (click)="this.register()">Register Here</button>
          </a>
          <a routerLink="/login">
            <button type="button" class="btn btn-outline-secondary" (click)="this.login()">Log In</button>
          </a>
        </div>
        <div style="padding-top: 2em; padding-left: 4em">
            <a href="https://www.youtube.com">Privacy statement</a>
        </div>
      </div>
    </div>
  </div>
</div>
