<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="/rec">
        <div class="card border-0 text-center">
          <img src="../../assets/img/genie-face.png" class="card-img-top" alt="genie-face.png">
          <div class="card-body">
            <h5 class="card-title" href="https://facebook.com">Recommendation</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/profile">
        <div class="card border-0 text-center">
          <img src="../../assets/img/scroll-mini.png" class="card-img-top" alt="scroll-mini.png">
          <div class="card-body">
            <h5 class="card-title" href="https://facebook.com">Profile</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a routerLink="/archive">
        <div class="card border-0 text-center">
          <img src="../../assets/img/lamp.png" class="card-img-top" alt="lamp.png">
          <div class="card-body">
            <h5 class="card-title" href="https://facebook.com">Archive</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<app-back-logout></app-back-logout>
